/*Custom Variables*/
:root {
  --secondary-color: #FFFFFF;
  --primary-color: #263B55;
  --text-color-bold:  #614751;
  --light-color: #F9F9F9;
  --cream-color: #E5E5E5;
  --animate-delay: 0.5s;
}
/*General style*/
body {
  font-family: 'Muli', sans-serif;
}
a {
  font-size: 1rem;
}
img {
  object-fit: cover;
}
.mt-10 {
  margin-top: 6rem;
}
.py-6 {
  padding: 4rem 0;
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color:  #333333;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #FFFFFF;
}
.btn-info {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}


#hero {
  background: url('../img/Rectangle 38.jpg') #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 95vh;
  color: var(--secondary-color);
}
.hero-content {
  padding: 0 0 2rem 0;
}
.hero-content h1 {
  font-weight: 700;
}
.hero-content span {
  opacity: 0.7;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--secondary-color);
}
.about-content {
  height: 771px;
  color: #FFFFFF;
  background: var(--primary-color);
  padding: 1rem 3rem;
}
.about-content h2, .services-content h2, .blog-heading, .team-heading {
  position: relative;
}
.about-content h2:before, .services-content h2:before, .blog-heading:before, .team-heading:before {
  position: absolute;
  content: '';
  border: 4px solid #FFFFFF;
  height: 0;
  width: 105.04px;
  bottom: -30px;
}
 .services-content h2:before, .blog-heading:before {
  border: 4px solid #614751;
 }
 .team-heading:before {
   border: 4px solid #263B55;
 }
#about img {
  max-width: 100%;
  height: 904px;
  object-fit: cover;
}
#stats {
  background: var(--primary-color);
  color: #FFFFFF;
}
.blog-content {
  border: 1px solid #614751;
}
.team-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
}
.opaque {
  opacity: 0.6;
}